* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    /* background-color: rgba(7, 85, 255, 0.377); */
    background: url('https://cdn.discordapp.com/attachments/711967354166181928/725866015157911552/Screenshot_18.png');
}

.content {
    width: 500px;
    margin: auto;
    background-color: white;
    text-align: center;
    padding: 20px;
    border-radius: 4px;
    margin-top: 30px;
}

.res {
    margin-top: 20px;
}